/*Style input*/
input {
    display: none;
}

/*Style img*/
img {
    width: 100%;
    height: 100%;
}

/*Style book class*/
.book {
    display: flex;
}

/*Style cover id*/
#cover {
    width: 250px;
    height: 400px;
}

/*Style flip__book*/
.flip__book {
    width: 250px;
    height: 400px;
    position: relative;
    perspective: 1500px;
}

/*Style flip*/
.flip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.5s;
    color: #000;
}

/*Style p*/
p {
    font-size: 14px;
    line-height: 24px;
}

/*Style front*/
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 13px;
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);
}