/*Style input*/
input {
    display: none;
}

/*Style img*/
img {
    width: 100%;
    height: 100%;
}

/*Style book class*/
.book {
    display: flex;
}

/*Style cover id*/
#cover {
    width: 250px;
    height: 400px;
}

/*Style flip__book*/
.flip__book {
    width: 250px;
    height: 400px;
    position: relative;
    perspective: 1500px;
}